body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#wrapper {
  display: flex;
  flex-grow: 1;
  min-width: 800px;
  max-height: 800px;
  height: 95vh;
  background: #FFF;
}

#sidebar {
  width: 275px;
  min-width: 220px;
  height: 100%;
}

#main {
  background: #999;
  border-radius: 0 10px 10px 0;
}

#title {
  border-bottom: 1px solid #384451;
  margin-bottom: 17.5px;
  padding: 0 17.5px 0px 17.5px;
  background-color: #384451;
  text-align: center;
}

#title a {
  color:white;
}

.section {
  justify-content: space-between;

}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.settingsLabel {
  overflow-wrap: break-word;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.settings-btn {
  height:30px;
  cursor: pointer;
}

.mylist {
  cursor: pointer;
overflow: hidden;
min-width: 0;
text-align: left;
white-space: nowrap;
padding-right: 10px;
text-overflow: ellipsis;
margin-top: 2px;
margin-bottom: 2px;

}

.myhiddenlist {
display: none;
}

h3 {
  color: #FFF;
}

ul {

  text-decoration: none;
  list-style-type: none;
  padding-left: 0!important;
}

input {
  cursor: pointer;
}